.cdd{
    height: 200px;
    width: 420px;
}
.btncancel{
    float: right ;
    margin-top: 10px;
    
}
.btnsave{
    float: right;
    margin-right: 10px;
    margin-top: 10px; 
}
.form1{
    margin-right: 10px;
}
.form3{
    margin-right: 10px;
}