<div [formGroup]="taskManagerFormGroup" class="cdd">

<h2>Create</h2>
<h1>{{title}}</h1>

    <mat-form-field class="form1" appearance="fill">
        <mat-label>TaskName</mat-label>
        <input matInput formControlName="taskName" placeholder="taskName">
        <mat-error *ngIf="taskManagerFormGroup.controls['taskName'].hasError('required')">Name is required</mat-error>
      </mat-form-field>
    
    <mat-form-field class="form2" appearance="fill">
      <mat-label>Tag name</mat-label>
      <input matInput formControlName="tag" placeholder="Tag name">
    </mat-form-field>
    
    
    <mat-form-field class="form3" appearance="fill">
        <mat-label>TaskDescription</mat-label>
        <textarea matInput formControlName="taskDescription"></textarea>
        <mat-error *ngIf="taskManagerFormGroup.controls['taskDescription'].hasError('required')">Task Description is required</mat-error>
    </mat-form-field>
    
    <button class="btnsave" mat-raised-button color="accent" (click)="opencreatesaveDialog()" [disabled]="taskManagerFormGroup.invalid">Save</button>
    <button class="btncancel" mat-raised-button color="warn" (click)="closedialog()">Cancel</button>
    
    </div>

