.cdd{
   width: 460px;
   height: 250px;
   background-color: rgb(226, 238, 234);
   position: relative;
   top: 18%;
   left: 34%;
   box-shadow: 1px 1px 12px -5px;
   border-radius: 20px;
}
h2{
    position: relative;
    top: 10px;
    left:15px;
}
.form1{
    margin-left: 20px;
    
}
.form2{
    margin-left: 15px;
}
.form3{
    margin-left: 20px;
}
.btncancel{
   position: absolute;
   top: 80%;
   left: 80%;
}
.btnsave{
   position: absolute;
   top: 80%;
   left: 64%;
}