.tbldiv{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;  
}
table {
    position: relative;
    width: 100%;
    background: rgba(174, 240, 188, 0.1);
}
.btn1{
    margin-right: 10px;
}
.addtaskicon{
    position: absolute;
    left: 97%;
   
    
}
.searchbar{
    width: 30%;
    position: relative;
    top: 16px;
    
}
.page{
    background-color: rgb(203, 247, 232);
    width: 100%;
}


